<div class="details-container">
    <div class="details-left">
        <span class="details-note">
            {{ payment.note }}
        </span>
        <span class="details-light">
            {{ payment.date | date:'y. MMM d. H:mm' }} - {{ payment.memberName }}
        </span>
    </div>
    <div class="details-value-container">
        <span class="details-value">
            {{ payment | valuePipe }}
        </span>
    </div>
</div>
<div class="separator"></div>
<div class="details-users">
    <app-member *ngFor="let member of payment.includedMembers" [selected]="member.included">
        <span>{{ member.memberName }}</span>
    </app-member>
</div>
