<div class="details-container">
    <div class="details-left">
        <span class="details-note">
            {{ payment.note }}
        </span>
        <span class="details-light">
            {{ payment.date | date:'y. MMM d. H:mm' }} - {{ payment.memberName }}
        </span>
    </div>
    <div class="details-value-container">
        <span class="details-value">
            {{ payment | valuePipe }}
        </span>
    </div>
</div>
<div class="separator"></div>
<div class="details-users">
    <div class="share col-md-6 col-8" *ngFor="let split of payment.split">
        <div class="member">
            <span>{{ split.memberName }}</span>
            <span>{{ payment.memberName === split.memberName ? 'shares' : 'owes' }}</span>
        </div>
        <span class="value" [ngClass]="{ payer: payment.memberName === split.memberName }">
            {{ { value: split.share, currency: payment.currency } | valuePipe }}
        </span>
    </div>
</div>
