:host{
    width: 100%;
}
.table-container{
    padding: 5rem;
    width: 70%;
}
.jumbotron{
    padding: 7vh 10vw;
    background-color: var(--dark-blue);
    color: var(--white);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 700px){
    .table-container{
        width: 100%;
        padding: 5rem 2rem;
    }
}