<div class="jumbotron">
  <h1>Debts and arrangements</h1>
</div>
<div class="w-100 d-flex justify-content-center">
  <div class="table-container">
    <div *ngIf="debts.debts.length === 0">
      <h3>All debts are arranged</h3>
    </div>
    <app-table *ngIf="debts.debts.length !== 0">
      <app-table-row
        class="table-header"
        [cellsTemplate]="template"
        [cells]="['From', 'Sum', 'Debt', '']"
        [collapsable]="false">
      </app-table-row>
      <div *ngFor="let member of debts.debts; let i = index">
        <app-table-row
          [cellsTemplate]="template"
          [cells]="[member.name,
          {value: member.sum, currency: debts.currency } | valuePipe,
          {value: member.debt, currency: debts.currency } | valuePipe]"
          [collapsable]="true"
          [collapsed]="true">
          <app-debt
            *ngFor="let debt of member.debts; let j = index"
            [debt]="debt"
            [currency]="debts.currency"
            (done)="done(member, debt)"></app-debt>
        </app-table-row>
      </div>
    </app-table>
  </div>
</div>
<app-loading [loading]="loading"></app-loading>
