<div class="table-container">
  <h2>{{payments.deletedPayments.length > 0 || loading ? 'Deleted payments' : 'No deleted payments found for this room'}}</h2>
  <app-table *ngIf="payments.deletedPayments.length > 0">
    <app-table-row
      class="table-header"
      [cellsTemplate]="template"
      [cells]="['Name', 'Paid', 'Date', 'Note', '']"
      [collapsable]="false">
    </app-table-row>

    <app-table-row
      *ngFor="let payment of payments.deletedPayments"
      [cellsTemplate]="template"
      [cells]="[payment.memberName, payment | valuePipe, payment.date | myDate, payment.note]"
      [collapsable]="true">
      <div class="button-container">
        <app-button (click)="revive(payment.id)">Revive payment <i class="fa fa-refresh"></i></app-button>
      </div>
    </app-table-row>
  </app-table>
</div>

<div class="table-container">
  <h2>{{payments.activePayments.length > 0 || loading ? 'Valid payments' : 'No valid payments found for this room'}}</h2>
  <app-table *ngIf="payments.activePayments.length > 0">
    <app-table-row
      class="table-header"
      [cellsTemplate]="template"
      [cells]="['Name', 'Paid', 'Date', 'Note', '']"
      [collapsable]="false">
    </app-table-row>

    <app-table-row
      *ngFor="let payment of payments.activePayments"
      [cellsTemplate]="template"
      [cells]="[payment.memberName, payment | valuePipe, payment.date | myDate, payment.note]"
      [collapsable]="true">
      <app-details [payment]="payment"></app-details>
      <div class="button-container">
        <app-button (click)="delete(payment.id)">Delete payment <i class="fa fa-trash"></i></app-button>
      </div>
    </app-table-row>
  </app-table>
</div>
<app-message-box
    [content]="message.content"
    [header]="message.header"
    [alert]="message.alert"
    [displayed]="message.displayed"
    (finished)="messageBoxDisappear()"
></app-message-box>
<app-loading [loading]="loading"></app-loading>
