<div class="title">
  Select who are included
</div>
<div class="users">
  <app-member
    [hoverable]="true" 
    [selected]="everybodyIncluded" 
    (click)="everybodyIncludedToggle()">
    Everybody
  </app-member>
  <div class="other-users" *ngIf="!everybodyIncluded" @collapse>
    <app-member
      *ngFor="let member of members;"
      [hoverable]="true" 
      [selected]="selectedMembers.includes(member)" 
      (click)="selectMember(member)">
      {{ member.name }}
    </app-member>
  </div>
</div>