<div class="title">
  Split the payment
</div>
<div class="tab-group-container">
  <div class="tab-group">
    <app-member [hoverable]="true" [selected]="isEqualSelected" (click)="isEqualSelected = true">
      Equally
    </app-member>
    <app-member [hoverable]="true" [selected]="!isEqualSelected" (click)="isEqualSelected = false">
      Unequally
    </app-member>
  </div>
  <div class="tab-content">
    <app-equally
      *ngIf="isEqualSelected"
      [members]="members"
      [(split)]="payment.split"
      (splitChange)="onSplitChange($event)"
    ></app-equally>

    <app-unequally
      *ngIf="!isEqualSelected && members?.length > 1"
      [currency]="payment.currency"
      [members]="members"
      [total]="payment.value"
      [(split)]="payment.split"
      [(isValid)]="isValid"
      (isValidChange)="valid.emit($event)"
      (splitChange)="onSplitChange($event)"
    ></app-unequally>
  </div>
</div>
