<header>
  <app-header-phone [items]="[
    {title: 'Home', routerLink: '/room/' + (roomService.room | async).roomKey},
    {title: 'History', routerLink: '/room/' + (roomService.room | async).roomKey + '/history'},
    {title: 'Upload', routerLink: '/room/' + (roomService.room | async).roomKey + '/upload'},
    {title: 'Debts', routerLink: '/room/' + (roomService.room | async).roomKey + '/debts'},
    {title: 'Settings', routerLink: '/room/' + (roomService.room | async).roomKey + '/settings'}
  ]">
  <app-button routerLink="/">
    Exit {{ (roomService.room | async).roomKey }}
  </app-button>
</app-header-phone>
  <div class="header-content">
    <div class="home">
      <a [routerLink]="'/room/' + (roomService.room | async).roomKey" class="hoverable">Debter</a>
    </div>
    <div class="navigation">
      <div class="pages">
        <app-header-item 
          [routerLink]="'/room/' + (roomService.room | async).roomKey"
          routerLinkActive="active" 
          [routerLinkActiveOptions]="{exact: true}"
          >Home</app-header-item>
        <app-header-item 
          [routerLink]="'/room/' + (roomService.room | async).roomKey + '/history'"
          routerLinkActive="active" >History</app-header-item>
        <app-header-item 
          [routerLink]="'/room/' + (roomService.room | async).roomKey + '/upload'"
          routerLinkActive="active" >Upload</app-header-item>
        <app-header-item 
          [routerLink]="'/room/' + (roomService.room | async).roomKey + '/debts'"
          routerLinkActive="active">Debts</app-header-item>
        <app-header-item 
          [routerLink]="'/room/' + (roomService.room | async).roomKey + '/settings'"
          routerLinkActive="active" >Settings</app-header-item>
      </div>
      <div class="continue-to-app-container">
        <app-button routerLink="/">
            Exit {{ (roomService.room | async).roomKey }}
        </app-button>
      </div>
    </div>
  </div>
</header>
<div class="header-placeholder"></div>