<div>
  <div class="title">
    Set the paid amount
  </div>
  <form class="row justify-content-center" [formGroup]="valueForm">
    <div class="col-7">
      <app-form-alert [alerted]="valueForm.invalid && valueForm.touched"  message="Please enter a valid amount">
        <input 
          type="text" 
          class="text-input" 
          placeholder="Amount paid..."
          name="value"
          (input)="setAmount()"
          formControlName="value">
      </app-form-alert>
    </div>
    <div class="col-4">
      <app-select [values]="currencies" [selectedItem]="initialCurrency" (selected)="setCurrency($event)"></app-select>
    </div>
  </form>
</div>