<div class="main-image-holder">
  <div class="main-image">
    <img src="../../../../assets/images/main.jpg" alt="Main image">
  </div>
  <div class="project-title">
    <span>About Debter</span>
  </div>
</div>
<div class="main-content">
  <h2>What is Debter?</h2>
  <p>Debter is an online software to help you arrange debts between friends and family.
    You can create groups without registration and without sharing sensitive information. 
    Debter will save every payment dealt between members of the group, which can be uploaded now in 3 different currencies.
    You will have a full access on your payments, Debter gives you options to modify, delete, or revive previously removed payments.
  </p>
  <p>You will never have to calculate your debts, Debter does not only do that for you, but also plans the optimal 
    debt arrangement between the members.
  </p>
  <h2>How to use Debter?</h2>
  <ol style="text-align: left">
    <li>Create a room</li>
    <li>Add members</li>
    <li>Share room-key with members</li>
    <li>Manage payments</li>
  </ol>
  <h4>1. Create a room</h4>
  <p>You don't have to share sensitive information, you can create a room with a few clicks.
    All you need is a title, to remind the members the purpose of this room.
  </p>
  <h4>2. Add members</h4>
  <p>You will be automatically redirected to a surface where you can set whom the payments will concern.
    Again, all you have to tell, are names, nicknames or aliases, however you prefer. Be precise, you won't be 
    able to modify the members afterwards (this feature is coming soon).
  </p>
  <h4>3. Share room key</h4>
  <p>You will recieve a 6 letters long key. Your phone, PC or Mac by which you created the room, will automatically save
    this key. You may share these 6 letters, whith who ever you'd like to have access to the room.
  </p>
  <h4>4. Manage payments</h4>
  <p>After logging into the room by your room key, you can check and edit previous payments, upload new ones, and
    view the optimal debt arrangement, calculated by Debter.
  </p>
</div>