<ng-template [(clickOut)]="displayed">
  <div class="main" @disappear>
    <div @appear>
      <div class="title">
        <span> {{ content.title }} </span>
      </div>
      <div class="contents">
        <div class="content-holder" *ngFor="let item of content.content; let i=index">
          <div 
            class="content" 
            [ngStyle]="{'border-bottom-width': (i == content.content.length - 1 ? '0' : '1px')}"
            (click)="onNoteTextClick(content.content[i])"
            >
            <span> {{ item }} </span>
          </div>
        </div>
      </div>
      
    </div>
  </div>  
</ng-template>
  
