<div class="host" @disappear *ngIf="displayed" (click)="hide()">
  <div class="main">
    <div>
      <div class="title">
        <span> {{ content.title }} </span>
      </div>
      <div class="contents">
        <div class="content-holder" *ngFor="let item of content.content; index as i">
          <div
            class="content"
            [ngStyle]="{'border-bottom-width': (i == content.content.length - 1 ? '0' : '1px')}"
            (click)="onNoteTextClick(item.roomKey)"
            >
            <span> {{ item.name }} </span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

